.fancy .sequence-diagram .participant:nth-child(3) .name {
	width : 300px;
	text-overflow: ellipsis;
	overflow:hidden;
	margin-left:0px;
}
.sequence-diagram .sequence-diagram-header{
	position: relative;
	z-index:100;
	padding: 10px;
	padding-bottom: 0px;
}
.sequence-diagram .participant .name{
	background:#fff;
	color: #333;
}
.sequence-diagram .sequence-diagram-body{
}
.fancy .sequence-diagram .participant{
	width : 300px;
}